* {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: darkgrey;
    margin: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
}

.biography h1 {
    font-family: 'Miniver', cursive;
    font-size: 54px;
    text-shadow: 2px 2px #0388fc;
    text-align: center;
    padding-top: 25px;
}

.biography p {
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
    text-indent: 5%;
}

h2 {
    text-align: center;
    font-family: 'Miniver', cursive;
    font-size: 30px;
    margin: 10px;
}

.skills {
    display: flex;
    justify-content: center;
}

#skill-1 {
    width: 250px;
    text-align: left;
}

#skill-2 {
    width: 250px;
    text-align: left;
}

.social-media h3 {
    text-align: center;
    font-family: 'Miniver', cursive;
    font-size: 30px;
    margin: 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.contact-me {
    margin-left: auto;
    margin-right: auto;
}

hr {
    width: 70%;
}

.contact-me {
    margin: auto;
    text-align: center;
}

#email {
    text-align: left;
}

.contact-me form button {
    margin-bottom: 25px;
}